{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}

{% block content %}
    <div class="page-title">Sign Up</div>
    <div class="module shadow-style" style="margin: 10px 30%; background: white">
        <h2>Enter you details to create a student account</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="hover-style" style="color: #333333" type="submit" value="Create the account"></p>
        </form>
    </div>
{% endblock %}