{% extends 'base.html' %}
{% load static %}
{% block title %}Chat room for {{ course.title }}{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}

{% block content %}
    <div id="chat" style="width: 70%"></div>
   <div id="chat-input" style="bottom: 15%;">
        <input id="chat-message-input" type="text" style="display: block; float: top">
       <input  id="chat-message-submit" type="submit" style="display: block; position: fixed; float: bottom" value="Send">
    </div>
{% endblock %}


{% block domready %}
    var url = 'ws://' + window.location.host + '/ws/chat/room/' + '{{ course.id }}/';
    var chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data.message;
        var dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        var datetime = new Date(data['datetime']).toLocaleString('en', dateOptions);
        var isMe = data.user === '{{ request.user }}';
        var source = isMe ? 'me' : 'other';
        var name = isMe ? 'Me' : data.user;
        var $chat = $('#chat');
        $chat.append('<div class="message">' + '<strong>' + name + '</strong> ' +
                            '<span class="date">' + datetime + '</span><br>' + message + '</div>');
        $chat.scrollTop($chat[0].scrollHeight);
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


    var $input = $('#chat-message-input');
    var $submit = $('#chat-message-submit');

    $submit.click(function() {
        var message = $input.val();
        if(message) {
            chatSocket.send(JSON.stringify({'message': message}));
            $input.val('');
            $input.focus();
        }
    });

    $input.focus();
    $input.keyup(function(e) {
        if (e.which === 13) {
            $submit.click();
        }
    });
{% endblock %}