{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Course{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/../../../../static/base.css' %}">
{% endblock %}

{% block content %}
    <div class="page-title">Deleting the course {{ object.title }}</div>

    <div class="module shadow-style" style="margin: 20px 30%">
        <form method="post">
            {% csrf_token %}
            <p>you sure about deleting "{{ object }}" ?!!</p>
            <p><input class="hover-style" style="color: white; background: red" type="submit" value="Confirm"></p>
        </form>

    </div>
{% endblock %}