{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Edit {{ object.title }}
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}

{% block style %}
    <link href="{% static 'css/../../../../static/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-title">
        {% if object %}
        Edit {{ object.title }}
    {% else %}
        Create a new course
    {% endif %}
    </div>

    <div class="module shadow-style" style="margin: 20px 30%;">
        <h2 class="shadow-style">Course Info. </h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="hover-style" style="color: black" type="submit" value="Save Course"></p>
        </form>
    </div>
{% endblock %}