{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Edit {{ object.title }}
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}

{% block style %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
        Edit {{ object.title }}
    {% else %}
        Create a new course
    {% endif %}
    </h1>

    <div class="module">
        <h2>Course info</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save Course"></p>
        </form>
    </div>
{% endblock %}