{% extends 'base.html' %}
{% load static %}

{% block title %}My Courses{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/../../../../static/base.css' %}">{% endblock %}

{% block content %}
    <div class="page-title">My Courses</div>

    <div class="module shadow-style" style="padding: 30px; margin: 20px 30%;">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url 'course_edit' course.id %}">Edit</a>
                    <a href="{% url 'course_module_update' course.id %}">Edit Modules</a>
                    {% if course.modules.count > 0 %}
                        <a href="{% url 'module_content_list' course.modules.first.id %}">Manage Contents</a>
                    {% endif %}
                    <a href="{% url 'course_delete' course.id %}">Delete</a>
                </p>

            </div>
        {% empty %}
            <p>You don`t have any courses yet</p>
        {% endfor %}
        <a style="display: inline-block; margin: 10px;" href="{% url 'course_create' %}" class="button">Create New Course</a>

    </div>
{% endblock %}