{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}

{% block content %}
    {% with subject=object.subject %}
        <div class="page-title">{{ object.title }}</div>
        <div class="module shadow-style" style="margin: 10px 30%">
            <p>
                <a href="{% url 'course_list_subject' subject.slug %}">{{ subject.title }}</a>
                <br>
                {{ object.modules.count }} Modules
                <br>
                Instructor: {{ object.owner }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course'%}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" value="Enroll now">
                </form>
            {% else %}
                <a class="button hover-style" style="color: black; padding: 10px" href="{% url 'student_registration' %}">
                    Register to Enroll
                </a>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}
