{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-learning{% endblock %}</title>
   {% block style %}
       <link href="{% static 'css/base.css' %}" rel="stylesheet">
   {% endblock %}
</head>
<body>
    <div id="header">
        <a href="/" class="logo">E-lea
            <img src="{% static 'imgs/logo.png' %}" width="50px">
            rning
        </a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
                  <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        })
    </script>
</body>
</html>