{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}E-learning{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">

    {# if you needed to add additional style files #}
    {% block style %}{% endblock %}
</head>

<body>
{# navbar #}
    <ul class="nav container-fluid bg-primary d-flex flex-md-row flex-column  justify-content-between align-items-center">
        <li class="navbar-brand ">
            <a class="nav-link" href="/">
               E<img src="{% static 'imgs/logo.png' %}" alt="site-logo" width="100px">learning
            </a>
        </li>
        <li class="nav-item display-3 text-light">
                     {% block page_title %}{% endblock %}
                </li>

                <li class="nav-item m-2">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link btn btn-light" href="{% url 'logout' %}">Sign Out</a>
                    {% else %}
                        <a class="nav-link btn btn-success" href="{% url 'login' %}">Sign In</a>
                    {% endif %}
                </li>
    </ul>
{#------------------------------------#}

    <div id="content">
        {% block content %}{% endblock %}
    </div>


{# bootstrap js #}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{#---------------------#}

{# jquery file TODO:: try to use js instead #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        })
    </script>
{#------------------#}
</body>

</html>