{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit {{ course.title }}
{% endblock %}
{% block style %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-title">Edit {{ course.title }}</div>
    <div class="module shadow-style" style="margin: 20px 30%;">
        <h2 class="shadow-style">Course Modules</h2>
        <form style="padding: 10px; margin: 10px;" method="post">
            {% csrf_token %}
            {{ formset }}
            {{ formset.management_form }}
            <input class="hover-style" style="color: #333333" type="submit" value="Save Module">
        </form>
    </div>
{% endblock %}


