{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block style %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-title">
        {% if object %}
            Edit {{ object.title }}
        {% else %}
            Add a new content
        {% endif %}
    </div>

    <div class="module shadow-style" style="margin: 10px 30%">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="hover-style" style="color: black;" type="submit" value="Save Content"></p>
        </form>
    </div>
{% endblock %}